<div class='line'>Welcome to EcmaSh - login with guest, register or your username</div>
{{#if error}}
  <div class='line error'>Couldn't login - bad credentials</div>
{{/if}}
{{#if state}}
  {{line "login:" state}}
{{else}}

  {{line "login:" username}}
  {{#if username}}
    {{#if password}}
      {{line "password:" "&bull;&bull;&bull;&bull;&bull;"}}
    {{else}}
      {{line "password:" password}}
    {{/if}}
  {{/if}}
{{/if}}
